html,
body {
  background-color: rgba(0, 0, 0, 1);
  margin: 0;
  padding: 0;
}

#webcam {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#nextCam {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
}

#pinWin {
  position: absolute;
  bottom: 20px;
  left: 70px;
  width: 40px;
  height: 40px;
}
